@-moz-keyframes beating {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@-webkit-keyframes beating {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@-o-keyframes beating {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes beating {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@-moz-keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-regular.eot");
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-regular.eot?#iefix") format('embedded-opentype'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-regular.woff") format('woff'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-bold.eot");
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-bold.eot?#iefix") format('embedded-opentype'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-bold.woff") format('woff'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-black.eot");
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-black.eot?#iefix") format('embedded-opentype'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-black.woff") format('woff'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/lato/lato-black.ttf") format('truetype');
}
@font-face {
  font-family: 'Icomoon';
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/icomoon/icomoon.eot");
  src: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/icomoon/icomoon.eot?#iefix") format('embedded-opentype'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/icomoon/icomoon.ttf") format('truetype'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/icomoon/icomoon.woff") format('woff'), url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/fonts/icomoon/icomoon.svg#icomoon") format('svg');
}
.brands-adjustments,
.field-group__image,
.brand-choice__item,
.acceptable-brands__brand,
.acceptable-brands .flag-box-flag,
.card-interactive__front__flag,
.card-interactive__back__flag {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.full__brands__choice--bancodobrasil {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/debit/bancodobrasil.svg");
}
.full__brands__choice--banrisul {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/debit/banrisul.svg");
}
.full__brands__choice--bradesco {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/debit/bradesco.svg");
}
.full__brands__choice--itau {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/debit/itau.svg");
}
.acceptable-brands__brand--amex,
.card-interactive__mobile--amex,
.card-interactive__front__flag--amex,
.card-interactive__back__flag--amex,
.brand-choice__item--amex,
.field-group__image--amex {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/amex.svg");
}
.acceptable-brands__brand--aura,
.card-interactive__mobile--aura,
.card-interactive__front__flag--aura,
.card-interactive__back__flag--aura,
.brand-choice__item--aura,
.field-group__image--aura {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/aura.svg");
}
.acceptable-brands__brand--diners,
.card-interactive__mobile--diners,
.card-interactive__front__flag--diners,
.card-interactive__back__flag--diners,
.brand-choice__item--diners,
.field-group__image--diners {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/diners.svg");
}
.acceptable-brands__brand--discover,
.card-interactive__mobile--discover,
.card-interactive__front__flag--discover,
.card-interactive__back__flag--discover,
.brand-choice__item--discover,
.field-group__image--discover {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/discover.svg");
}
.acceptable-brands__brand--elo,
.card-interactive__mobile--elo,
.card-interactive__front__flag--elo,
.card-interactive__back__flag--elo,
.brand-choice__item--elo,
.field-group__image--elo {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/elo.svg");
}
.acceptable-brands__brand--hipercard,
.card-interactive__mobile--hipercard,
.card-interactive__front__flag--hipercard,
.card-interactive__back__flag--hipercard,
.brand-choice__item--hipercard,
.field-group__image--hipercard {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/hipercard.svg");
}
.acceptable-brands__brand--mastercard,
.card-interactive__mobile--mastercard,
.card-interactive__front__flag--mastercard,
.card-interactive__back__flag--mastercard,
.brand-choice__item--mastercard,
.field-group__image--mastercard {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/mastercard.svg");
}
.acceptable-brands__brand--personalcard,
.card-interactive__mobile--personalcard,
.card-interactive__front__flag--personalcard,
.card-interactive__back__flag--personalcard,
.brand-choice__item--personalcard,
.field-group__image--personalcard {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/personalcard.svg");
}
.acceptable-brands__brand--visa,
.card-interactive__mobile--visa,
.card-interactive__front__flag--visa,
.card-interactive__back__flag--visa,
.brand-choice__item--visa,
.field-group__image--visa {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/brands/credit-card/visa.svg");
}
.acceptable-brands__brand.acceptable-brands__brand--hipercard {
  width: 70px;
  margin-right: 5px;
}
.brand-choice__item--hipercard {
  min-width: 108px;
}
.container,
.footer__content,
.tokenized__form {
  display: block;
  font-size: 0;
  margin: 0 auto;
  max-width: 1065px;
  padding: 0 0;
  width: 100%;
}
@media only screen and (max-width: 1065px) {
  .container,
  .footer__content,
  .tokenized__form {
    padding: 0 10px;
    min-width: 320px;
  }
}
#page__content {
  position: relative;
}
@media only screen and (max-width: 800px) {
  #page__content {
    padding-top: 80px;
  }
}
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
input,
label,
button,
strong {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-size: 16px;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input,
select,
textarea {
  outline: 0;
}
html {
  font-size: 1rem;
  font-size: 16px;
}
body {
  background: #fff;
}
a,
.link {
  color: #1082be;
  text-decoration: none;
  cursor: pointer;
}
.show,
.block {
  display: block !important;
}
.hidden,
.none {
  display: none !important;
}
.visible {
  visibility: visible !important;
  position: initial !important;
}
.overlay {
  filter: blur(6px);
}
.summary__operation__country--brazil {
  background-image: url("../../../../external.html?link=https://payment.boacompra.com/statics//stylesheets/images/flags/brazil.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.field-group__visual-state,
.field-group__message__icon,
.full-button__icon,
.full-reduced__icon,
.general__icon,
.summary__body__icon,
.summary__button__icon,
.loading-icon,
.help-box-close-button,
.lightbox-close-button,
.loading__icon,
.message__icon,
.acceptable-brands__box,
.full-reduced__print__icon {
  font-family: 'Icomoon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.field-group__visual-state--danger::before,
.field-group__message__icon--danger::before,
.full-button__icon--danger::before,
.full-reduced__icon--danger::before,
.general__icon--danger::before,
.summary__body__icon--danger::before,
.summary__button__icon--danger::before,
.loading-icon--danger::before,
.help-box-close-button--danger::before,
.lightbox-close-button--danger::before,
.loading__icon--danger::before,
.message__icon--danger::before,
.acceptable-brands__box--danger::before,
.full-reduced__print__icon--danger::before {
  content: '\E901';
}
.field-group__visual-state--loading::before,
.field-group__message__icon--loading::before,
.full-button__icon--loading::before,
.full-reduced__icon--loading::before,
.general__icon--loading::before,
.summary__body__icon--loading::before,
.summary__button__icon--loading::before,
.loading-icon--loading::before,
.help-box-close-button--loading::before,
.lightbox-close-button--loading::before,
.loading__icon--loading::before,
.message__icon--loading::before,
.acceptable-brands__box--loading::before,
.full-reduced__print__icon--loading::before {
  content: '\E90A';
}
.field-group__visual-state--error::before,
.field-group__message__icon--error::before,
.full-button__icon--error::before,
.full-reduced__icon--error::before,
.general__icon--error::before,
.summary__body__icon--error::before,
.summary__button__icon--error::before,
.loading-icon--error::before,
.help-box-close-button--error::before,
.lightbox-close-button--error::before,
.loading__icon--error::before,
.message__icon--error::before,
.acceptable-brands__box--error::before,
.full-reduced__print__icon--error::before {
  content: '\E902';
  color: #ca2a2a;
}
.field-group__visual-state--info::before,
.field-group__message__icon--info::before,
.full-button__icon--info::before,
.full-reduced__icon--info::before,
.general__icon--info::before,
.summary__body__icon--info::before,
.summary__button__icon--info::before,
.loading-icon--info::before,
.help-box-close-button--info::before,
.lightbox-close-button--info::before,
.loading__icon--info::before,
.message__icon--info::before,
.acceptable-brands__box--info::before,
.full-reduced__print__icon--info::before {
  content: '\E903';
}
.field-group__visual-state--success::before,
.field-group__message__icon--success::before,
.full-button__icon--success::before,
.full-reduced__icon--success::before,
.general__icon--success::before,
.summary__body__icon--success::before,
.summary__button__icon--success::before,
.loading-icon--success::before,
.help-box-close-button--success::before,
.lightbox-close-button--success::before,
.loading__icon--success::before,
.message__icon--success::before,
.acceptable-brands__box--success::before,
.full-reduced__print__icon--success::before {
  content: '\E904';
  color: #00a651;
}
.field-group__visual-state--success-bordered::before,
.field-group__message__icon--success-bordered::before,
.full-button__icon--success-bordered::before,
.full-reduced__icon--success-bordered::before,
.general__icon--success-bordered::before,
.summary__body__icon--success-bordered::before,
.summary__button__icon--success-bordered::before,
.loading-icon--success-bordered::before,
.help-box-close-button--success-bordered::before,
.lightbox-close-button--success-bordered::before,
.loading__icon--success-bordered::before,
.message__icon--success-bordered::before,
.acceptable-brands__box--success-bordered::before,
.full-reduced__print__icon--success-bordered::before {
  content: '\E905';
}
.field-group__visual-state--wait::before,
.field-group__message__icon--wait::before,
.full-button__icon--wait::before,
.full-reduced__icon--wait::before,
.general__icon--wait::before,
.summary__body__icon--wait::before,
.summary__button__icon--wait::before,
.loading-icon--wait::before,
.help-box-close-button--wait::before,
.lightbox-close-button--wait::before,
.loading__icon--wait::before,
.message__icon--wait::before,
.acceptable-brands__box--wait::before,
.full-reduced__print__icon--wait::before {
  content: '\E906';
}
.field-group__visual-state--wait-bordered::before,
.field-group__message__icon--wait-bordered::before,
.full-button__icon--wait-bordered::before,
.full-reduced__icon--wait-bordered::before,
.general__icon--wait-bordered::before,
.summary__body__icon--wait-bordered::before,
.summary__button__icon--wait-bordered::before,
.loading-icon--wait-bordered::before,
.help-box-close-button--wait-bordered::before,
.lightbox-close-button--wait-bordered::before,
.loading__icon--wait-bordered::before,
.message__icon--wait-bordered::before,
.acceptable-brands__box--wait-bordered::before,
.full-reduced__print__icon--wait-bordered::before {
  content: '\E90E';
  color: #3ac1c6;
}
.field-group__visual-state--warning::before,
.field-group__message__icon--warning::before,
.full-button__icon--warning::before,
.full-reduced__icon--warning::before,
.general__icon--warning::before,
.summary__body__icon--warning::before,
.summary__button__icon--warning::before,
.loading-icon--warning::before,
.help-box-close-button--warning::before,
.lightbox-close-button--warning::before,
.loading__icon--warning::before,
.message__icon--warning::before,
.acceptable-brands__box--warning::before,
.full-reduced__print__icon--warning::before {
  content: '\E907';
}
.field-group__visual-state--warning-bordered::before,
.field-group__message__icon--warning-bordered::before,
.full-button__icon--warning-bordered::before,
.full-reduced__icon--warning-bordered::before,
.general__icon--warning-bordered::before,
.summary__body__icon--warning-bordered::before,
.summary__button__icon--warning-bordered::before,
.loading-icon--warning-bordered::before,
.help-box-close-button--warning-bordered::before,
.lightbox-close-button--warning-bordered::before,
.loading__icon--warning-bordered::before,
.message__icon--warning-bordered::before,
.acceptable-brands__box--warning-bordered::before,
.full-reduced__print__icon--warning-bordered::before {
  content: '\E90D';
}
.field-group__visual-state--close::before,
.field-group__message__icon--close::before,
.full-button__icon--close::before,
.full-reduced__icon--close::before,
.general__icon--close::before,
.summary__body__icon--close::before,
.summary__button__icon--close::before,
.loading-icon--close::before,
.help-box-close-button--close::before,
.lightbox-close-button--close::before,
.loading__icon--close::before,
.message__icon--close::before,
.acceptable-brands__box--close::before,
.full-reduced__print__icon--close::before {
  content: '\F00D';
}
.field-group__visual-state--padlock::before,
.field-group__message__icon--padlock::before,
.full-button__icon--padlock::before,
.full-reduced__icon--padlock::before,
.general__icon--padlock::before,
.summary__body__icon--padlock::before,
.summary__button__icon--padlock::before,
.loading-icon--padlock::before,
.help-box-close-button--padlock::before,
.lightbox-close-button--padlock::before,
.loading__icon--padlock::before,
.message__icon--padlock::before,
.acceptable-brands__box--padlock::before,
.full-reduced__print__icon--padlock::before {
  content: '\F023';
}
.field-group__visual-state--printer::before,
.field-group__message__icon--printer::before,
.full-button__icon--printer::before,
.full-reduced__icon--printer::before,
.general__icon--printer::before,
.summary__body__icon--printer::before,
.summary__button__icon--printer::before,
.loading-icon--printer::before,
.help-box-close-button--printer::before,
.lightbox-close-button--printer::before,
.loading__icon--printer::before,
.message__icon--printer::before,
.acceptable-brands__box--printer::before,
.full-reduced__print__icon--printer::before {
  content: '\E90F';
}
.field-group__visual-state--arrow-right::before,
.field-group__message__icon--arrow-right::before,
.full-button__icon--arrow-right::before,
.full-reduced__icon--arrow-right::before,
.general__icon--arrow-right::before,
.summary__body__icon--arrow-right::before,
.summary__button__icon--arrow-right::before,
.loading-icon--arrow-right::before,
.help-box-close-button--arrow-right::before,
.lightbox-close-button--arrow-right::before,
.loading__icon--arrow-right::before,
.message__icon--arrow-right::before,
.acceptable-brands__box--arrow-right::before,
.full-reduced__print__icon--arrow-right::before {
  content: '\F105';
}
.field-group__visual-state--debit::before,
.field-group__message__icon--debit::before,
.full-button__icon--debit::before,
.full-reduced__icon--debit::before,
.general__icon--debit::before,
.summary__body__icon--debit::before,
.summary__button__icon--debit::before,
.loading-icon--debit::before,
.help-box-close-button--debit::before,
.lightbox-close-button--debit::before,
.loading__icon--debit::before,
.message__icon--debit::before,
.acceptable-brands__box--debit::before,
.full-reduced__print__icon--debit::before {
  content: '\E900';
}
.type__icon,
.summary__body__icon {
  font-family: 'Icomoon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.type__icon::before,
.summary__body__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.type__icon--card::before,
.summary__body__icon--card::before {
  content: '\E909';
}
.type__icon--boleto::before,
.summary__body__icon--boleto::before {
  content: '\E908';
}
.type__icon--debit::before,
.summary__body__icon--debit::before {
  content: '\E900';
}
.type__icon--transfer::before,
.summary__body__icon--transfer::before {
  content: '\E90B';
}
.type__icon--wallet::before,
.summary__body__icon--wallet::before {
  content: '\E90C';
}
.full-button,
.alert__button,
.summary__button,
.summary__button--disabled {
  display: inline-block;
  border: none;
  border-radius: 3px;
  font-size: 1.125rem;
  font-size: 18px;
  text-align: center;
  color: #fff;
  transition: all 0.4s linear;
  outline: none;
}
.full-button::-moz-focus-inner,
.alert__button::-moz-focus-inner,
.summary__button::-moz-focus-inner,
.summary__button--disabled::-moz-focus-inner {
  border: none;
  outline-width: 0;
}
.outline-button,
.footer__button {
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.fields-group {
  float: left;
  width: 100%;
}
.field-group--small,
.field-group--medium,
.field-group--large {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.field-group--small {
  max-width: calc(50% - 10px);
  margin-left: 20px;
  float: right;
}
.field-group--medium {
  max-width: calc(50% - 10px);
  float: left;
}
.field-group--large {
  max-width: 100%;
  float: left;
}
.field-group--invalid .field-group__message {
  color: #ca2a2a;
  display: block;
}
.field-group--invalid .field-group__input {
  border-color: #ca2a2a;
}
.field-group--valid .field-group__visual-state {
  display: block;
}
.field-group--valid .field-group__input {
  border-color: #47ac5b;
}
.field-group__message {
  margin-top: 5px;
}
.field-group__message--hidden {
  display: none;
}
.field-group__message__text,
.field-group__message__icon {
  vertical-align: middle;
}
.field-group__message__text {
  font-size: 0.75rem;
  font-size: 12px;
  color: #ca2a2a;
  margin-left: 5px;
}
.field-group__message__icon {
  font-size: 0.75rem;
  font-size: 12px;
}
.field-group__label {
  font-size: 0.875rem;
  font-size: 14px;
  color: #333;
  margin-bottom: 3px;
  display: block;
}
.field-group__wrapper {
  position: relative;
}
.field-group__input,
.field-group__select,
.field-group__textarea {
  font-size: 0.9375rem;
  font-size: 15px;
  width: 100%;
  height: 40px;
  color: #333;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #bdc5ce;
  background: #fff;
  appearance: none;
}
.field-group__select {
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 96%;
  -webkit-appearance: none;
}
.field-group__select::-ms-expand {
  display: none;
}
.field-group__textarea {
  padding-top: 10px;
  resize: none;
}
.field-group__visual-state {
  font-size: 0.625rem;
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.field-group__visual-state--hidden {
  display: none;
}
.field-group__custom {
  position: absolute;
  top: 10px;
  right: 8px;
  text-align: center;
  z-index: 1;
}
.field-group__image {
  width: 28px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.field-group__image::-webkit-input-placeholder {
  color: #ccc;
  font-size: 0.9375rem;
  font-size: 15px;
}
.field-group__image:-moz-placeholder {
  color: #ccc;
  font-size: 0.9375rem;
  font-size: 15px;
}
.field-group__image::-moz-placeholder {
  color: #ccc;
  font-size: 0.9375rem;
  font-size: 15px;
}
.field-group__image:-ms-input-placeholder {
  color: #ccc;
  font-size: 0.9375rem;
  font-size: 15px;
}
.field-group__image:focus {
  border: 1px solid #666;
  color: #333;
}
.field-group.with-message .field-group__message,
.field-group--valid .field-group__message__icon {
  display: block;
}
#field-group__cardCvv .field-group__visual-state {
  right: 42px;
}
.field-group--brand-selected .field-group__image {
  right: 50px;
}
.lightbox {
  width: 100%;
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
  z-index: 20;
}
.lightbox__overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
@media only screen and (max-width: 767px) {
  .lightbox {
    width: 95%;
  }
}
.lightbox--hidden {
  display: none;
}
.lightbox__header,
.lightbox__footer {
  background: #f0f0f0;
}
.lightbox__header,
.lightbox__footer,
.lightbox__body {
  padding: 30px 40px;
}
@media only screen and (max-width: 767px) {
  .lightbox__header,
  .lightbox__footer,
  .lightbox__body {
    padding: 20px;
  }
}
.lightbox__header {
  border-radius: 5px 5px 0 0;
}
.lightbox__button {
  font-size: 1.125rem;
  font-size: 18px;
  color: #1082be;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.lightbox__title,
.lightbox__logo {
  display: inline-block;
  vertical-align: middle;
}
.lightbox__logo {
  background: url("../images/logo-box.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.lightbox__title {
  font-size: 1.5rem;
  font-size: 24px;
  color: #333;
}
@media only screen and (max-width: 389px) {
  .lightbox__title {
    font-size: 1.375rem;
    font-size: 22px;
    width: 75%;
  }
}
.lightbox__body {
  background: #fff;
}
.lightbox__description {
  font-size: 0.9375rem;
  font-size: 15px;
  height: 320px;
  padding: 20px;
  overflow-y: scroll;
  box-shadow: inset 0 -36px 35px 0 #fff;
  color: #999;
  line-height: 20px;
}
.lightbox__description li,
.lightbox__description em {
  font-size: 0.9375rem;
  font-size: 15px;
  font-family: 'Lato';
}
.lightbox__description p {
  font-size: 0.9375rem;
  font-size: 15px;
  margin-bottom: 15px;
}
.lightbox__footer {
  text-align: right;
  border-radius: 0 0 5px 5px;
}
.lightbox__text {
  font-size: 1rem;
  font-size: 16px;
  color: #1082be;
  cursor: pointer;
}
.alert {
  max-width: 560px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
  text-align: center;
  padding: 30px 40px 35px 40px;
}
@media only screen and (max-width: 767px) {
  .alert {
    background: transparent;
    box-shadow: none;
  }
}
.alert--hidden {
  display: none;
}
.alert__overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
.alert__button {
  padding: 18px 80px;
  line-height: 18px;
  border-bottom: 2px solid #a94d1d;
  background: #f26722;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.alert__button:hover {
  background: #dc6428;
  transition: all 0.4s linear;
}
.alert__button:active {
  background: #a94d1d;
  transition: all 0.4s linear;
}
.alert__icon {
  font-size: 5rem;
  font-size: 80px;
  display: block;
  margin: 0 auto;
  color: #fabc00;
}
.alert__title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fabc00;
}
.alert__description {
  font-size: 0.875rem;
  font-size: 14px;
  font-family: 'Lato';
  margin-bottom: 40px;
  color: #666;
  display: inline-block;
}
.alert__description a {
  font-size: 0.875rem;
  font-size: 14px;
}
.loading {
  width: 100%;
  max-width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .loading {
    padding: 0 15px;
  }
}
.loading--hidden {
  display: none;
}
.loading__overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
.loading__wrapper {
  width: 100px;
  height: 100px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.loading__circle {
  width: 100px;
  height: 100px;
  display: block;
  animation: beating 1s infinite;
  border: 3px solid #f26722;
  border-radius: 50%;
  margin: 0 auto;
}
.loading__icon {
  font-size: 2.5rem;
  font-size: 40px;
  color: #f26722;
  background: transparent;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading__title {
  font-size: 1rem;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #f26722;
}
.loading__description {
  font-size: 0.875rem;
  font-size: 14px;
  font-family: 'Lato';
  margin-bottom: 40px;
  color: #666;
  display: inline-block;
}
.loading .loading-bubble {
  font-family: 'Lato';
  color: #666;
  display: inline-block;
  border: solid 1px #ccc;
  padding: 5px 15px;
  border-radius: 15px;
}
.type__icon,
.summary__body__icon {
  font-family: 'Icomoon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.type__icon::before,
.summary__body__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.type__icon--card::before,
.summary__body__icon--card::before {
  content: '\E909';
}
.type__icon--boleto::before,
.summary__body__icon--boleto::before {
  content: '\E908';
}
.type__icon--debit::before,
.summary__body__icon--debit::before {
  content: '\E900';
}
.type__icon--transfer::before,
.summary__body__icon--transfer::before {
  content: '\E90B';
}
.type__icon--wallet::before,
.summary__body__icon--wallet::before {
  content: '\E90C';
}
.mobile #summary {
  width: calc(100% - 20px);
  margin: 0 10px;
  position: absolute;
  top: 10px;
  left: 0;
}
.mobile #summary__header {
  cursor: pointer;
}
.mobile #summary__content {
  display: none;
}
.mobile .summary--opened #summary__content {
  display: block;
}
.mobile #summary__icon {
  width: 24px;
  height: 11px;
  margin-top: 7px;
  display: block;
  float: right;
  background: url("../images/icon.png");
  background-repeat: no-repeat;
  background-position: right;
}
.mobile .summary-icon--opened #summary__icon {
  transform: rotate(-180deg);
}
.box,
.acceptable-brands__box,
.security-explanation {
  z-index: 5;
  background: #fff;
  box-shadow: 0 0 15px -2px rgba(0,0,0,0.25);
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  position: absolute;
  padding: 25px;
}
.box::before,
.acceptable-brands__box::before,
.security-explanation::before {
  width: 15px;
  height: 15px;
  content: '';
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  background: #fff;
  display: block;
  position: absolute;
}
.box__close,
.acceptable-brands__box__close,
.security-explanation__close,
.acceptable-brands__button,
.security-explanation__button {
  font-size: 1.125rem;
  font-size: 18px;
  color: #1082be;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.summary {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  overflow: hidden;
}
.summary__header {
  padding: 15px 20px;
}
.summary__title {
  font-size: 1.25rem;
  font-size: 20px;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  color: #333;
}
.summary__icon {
  display: none;
}
.summary__body {
  border-top: 1px solid #e7e7e7;
  padding: 10px 20px 30px 20px;
}
.summary__body__label {
  font-size: 0.875rem;
  font-size: 14px;
  color: #999;
  margin-top: 20px;
  display: block;
}
.summary__body__description {
  font-size: 1.125rem;
  font-size: 18px;
  margin-top: 4px;
  color: #333;
  word-wrap: break-word;
}
.summary__body__description:first-letter {
  text-transform: capitalize;
}
.summary__body__icon,
.summary__body__text {
  display: inline-block;
  vertical-align: middle;
  color: #333;
}
.summary__body__icon {
  font-size: 1.5625rem;
  font-size: 25px;
  padding-left: 22px;
}
.summary__body__text {
  font-size: 1.125rem;
  font-size: 18px;
  margin-left: 5px;
}
.summary__footer {
  border-top: 1px solid #e7e7e7;
  padding: 20px;
  background: #f7f7f7;
}
.summary__footer__installments,
.summary__footer__tariff {
  display: block;
  margin-bottom: 10px;
}
.summary__footer__installments,
.summary__footer__total,
.summary__footer__tariff {
  font-size: 1rem;
  font-size: 16px;
  color: #999;
}
.summary__footer__value {
  font-size: 1.25rem;
  font-size: 20px;
  color: #333;
  font-weight: 900;
  margin-left: 10px;
}
.summary__button {
  padding: 18px 22px;
  line-height: 18px;
  border-bottom: 2px solid #a94d1d;
  background: #f26722;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
.summary__button:hover {
  background: #dc6428;
  transition: all 0.4s linear;
}
.summary__button:active {
  background: #a94d1d;
  transition: all 0.4s linear;
}
.summary__button__icon {
  font-size: 1.375rem;
  font-size: 22px;
  margin-left: 10px;
  vertical-align: middle;
}
.summary__button--disabled {
  padding: 18px 22px;
  line-height: 18px;
  border-bottom: 2px solid #eaeaea;
  background: #dfdfdf;
  cursor: not-allowed;
  pointer-events: none;
}
.summary__button--disabled:hover {
  background: #dfdfdf;
  transition: all 0.4s linear;
}
.summary__button--disabled:active {
  background: #dfdfdf;
  transition: all 0.4s linear;
}
.summary__operation {
  margin-top: 10px;
}
.summary__operation__text,
.summary__operation__country {
  display: inline-block;
  vertical-align: middle;
}
.summary__operation__text {
  font-size: 0.75rem;
  font-size: 12px;
  color: #666;
}
.summary__operation__country {
  width: 21px;
  height: 15px;
  margin-left: 5px;
}
.summary__terms {
  margin-top: 10px;
}
.summary__terms__text,
.summary__terms__link {
  font-size: 0.75rem;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.header {
  text-align: center;
  border-top: 2px solid #701f6c;
  border-bottom: 1px solid #e7e7e7;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 0;
}
.footer {
  width: 100%;
  border-top: 1px solid #e7e7e7;
  background: #fff;
}
.footer__cnpj,
.footer__support {
  display: inline-block;
  font-size: initial;
  padding: 0;
  vertical-align: middle;
  width: 50%;
  height: 60px;
  line-height: 60px;
}
@media only screen and (max-width: 767px) {
  .footer__cnpj,
  .footer__support {
    display: inline-block;
    font-size: initial;
    padding: 0;
    vertical-align: middle;
    width: 100%;
    text-align: center;
  }
}
.footer__cnpj__text {
  font-size: 0.75rem;
  font-size: 12px;
  color: #aaa;
}
.footer__support {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .footer__support {
    text-align: center;
  }
}
.footer__button {
  font-size: 0.75rem;
  font-size: 12px;
  padding: 5px 15px;
  line-height: 15px;
  border: 1px solid #ccc;
  color: #1082be;
}
.type {
  background: #f7f7f7;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #e7e7e7;
}
.type__icon,
.type__title {
  display: inline-block;
  vertical-align: middle;
  color: #999;
}
.type__icon {
  width: 40px;
  font-size: 2.8125rem;
  font-size: 45px;
}
.type__title {
  font-size: 1.25rem;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.brand-choice {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  border-radius: 0 3px 0 0;
  padding: 6px 18px 0 18px;
  border: 1px solid #bdc5ce;
  height: 40px;
  background: #fff;
}
.brand-choice__title {
  font-size: 0.6875rem;
  font-size: 11px;
  color: #bdc5ce;
  word-wrap: break-word;
  max-width: 55px;
  display: block;
  margin-right: 20px;
}
.brand-choice__arrow {
  width: 10px;
  height: 7px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 13px;
}
.brand-choice--open {
  border-bottom: none;
}
.brand-choice__list {
  width: 100%;
  font-size: 0;
  z-index: 5;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
  padding: 25px;
}
.brand-choice__item {
  cursor: pointer;
  width: 54px;
  height: 37px;
  margin: 2px;
  display: inline-block;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
}
.brand-identifying {
  margin-top: 5px;
}
.brand-identifying__text {
  font-size: 0.75rem;
  font-size: 12px;
  color: #3ac1c6;
}
.brand-identifying__loader {
  font-size: 1.25rem;
  font-size: 20px;
  color: #3ac1c6;
  position: absolute;
  top: 10px;
  right: 20px;
  animation: rotation 2s infinite;
}
.acceptable-brands {
  margin-top: 5px;
  position: relative;
  font-size: 0;
}
.acceptable-brands--web {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
  margin-right: 30px;
}
@media only screen and (max-width: 1064px) {
  .acceptable-brands--web {
    display: none;
  }
}
.acceptable-brands--mobile {
  display: none;
}
@media only screen and (max-width: 1064px) {
  .acceptable-brands--mobile {
    display: block;
    margin: 30px auto;
  }
}
.acceptable-brands__brand {
  width: 28px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
}
.acceptable-brands__more {
  font-size: 0.875rem;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  color: #1082be;
  font-weight: 400;
  cursor: pointer;
  margin-left: 10px;
}
.acceptable-brands__box {
  width: 285px;
  left: 93%;
  top: -15px;
}
@media only screen and (max-width: 1064px) {
  .acceptable-brands__box {
    left: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .acceptable-brands__box {
    top: 45px;
    left: 0;
    transform: translateY(0);
  }
}
.acceptable-brands__box::before {
  transform: translate(-50%, -50%) rotate(45deg);
  left: 0;
}
@media only screen and (max-width: 767px) {
  .acceptable-brands__box::before {
    left: initial;
    right: 135px;
    top: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: none;
  }
}
.acceptable-brands__button {
  font-family: 'Icomoon';
}
.acceptable-brands__title {
  font-size: 1rem;
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 400;
}
.acceptable-brands .flag-box-flag {
  width: 54px;
  height: 37px;
  margin: 2px;
  display: inline-block;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
}
.security-explanation {
  width: 300px;
  top: 30%;
  left: 115%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
  .security-explanation {
    top: 60px;
    right: 0;
    left: initial;
    transform: translateY(0);
  }
}
.security-explanation::before {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .security-explanation::before {
    left: initial;
    right: 5px;
    top: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: none;
  }
}
.security-explanation__title {
  font-size: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
}
.security-explanation__subtitle {
  font-size: 0.875rem;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 400;
}
.security-explanation__description {
  font-size: 0.78125rem;
  font-size: 12.5px;
  color: #999;
}
.security-explanation__example {
  margin-top: 20px;
}
.security-explanation__front,
.security-explanation__back,
.security-explanation__text {
  display: inline-block;
  vertical-align: top;
}
.security-explanation__front,
.security-explanation__back {
  width: 110px;
  height: 76px;
}
.security-explanation__front {
  background: url("../images/help-front.png");
}
.security-explanation__back {
  background: url("../images/help-back.png");
  float: left;
}
.security-explanation__text {
  width: calc(100% - (135px - 10px));
  float: right;
}
.security-explanation__button {
  display: block;
  margin: 20px auto 0 auto;
}
.security-explanation__icon {
  font-size: 0.75rem;
  font-size: 12px;
  background: #fff;
  border-radius: 50%;
  color: #1082be;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 2px solid #1082be;
  position: absolute;
  top: 8px;
}
.security-explanation__icon::before {
  font-size: 0.8125rem;
  font-size: 13px;
  font-weight: 700;
  display: block;
  content: '?';
  line-height: 20px;
}
.security-explanation__icon::after {
  border-left: 1px solid #bdc5ce;
  content: '';
  position: absolute;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}
.tokenized {
  width: 100%;
}
.tokenized__form {
  padding-top: 40px;
  padding-bottom: 50px;
}
.tokenized__title {
  font-size: 1.25rem;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  color: #333;
}
.tokenized__summary {
  width: 100%;
  max-width: 300px;
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .tokenized__summary {
    max-width: 100%;
  }
}
.tokenized__wrapper {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 767px) {
  .tokenized__wrapper {
    display: inline-block;
    font-size: initial;
    padding: 0;
    vertical-align: top;
    width: 100%;
  }
}
.tokenized__wrapper--small {
  width: calc(25% - 10px);
  margin-left: 10px;
}
@media only screen and (max-width: 1064px) {
  .tokenized__wrapper--small {
    margin-left: 0px;
  }
}
.tokenized__wrapper--medium {
  width: calc(50% - 20px);
  margin-left: 20px;
}
@media only screen and (max-width: 1064px) {
  .tokenized__wrapper--medium {
    margin-left: 0px;
    width: 100%;
  }
}
.tokenized__wrapper--large {
  width: calc(100%);
}
.tokenized__wrapper--form {
  width: calc(100% - 300px);
  padding-right: 60px;
}
@media only screen and (max-width: 767px) {
  .tokenized__wrapper--form {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 20px;
  }
}
.tokenized__fields {
  max-width: 300px;
  float: left;
}
@media only screen and (max-width: 1064px) {
  .tokenized__fields {
    max-width: 100%;
    width: 100%;
  }
}
.tokenized__card {
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 1064px) {
  .tokenized__card {
    display: none;
  }
}
.card-interactive {
  width: 275px;
  height: 170px;
  margin: 0 auto;
  transition: all 0.6s linear;
  perspective: 800px;
  position: relative;
}
.card-interactive__content {
  float: right;
  width: 60%;
  text-align: right;
}
@media only screen and (max-width: 1064px) {
  .card-interactive__content {
    display: inline-block;
    font-size: initial;
    padding: 0;
    vertical-align: top;
    width: 100%;
    text-align: left;
  }
}
@media only screen and (max-width: 1064px) {
  .card-interactive {
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .card-interactive {
    display: none;
  }
}
.card-interactive__flipped .card-interactive__front {
  z-index: 2;
  transform: rotateY(180deg);
}
.card-interactive__flipped .card-interactive__back {
  z-index: 4;
  transform: rotateY(360deg);
}
.card-interactive__front,
.card-interactive__back {
  width: 275px;
  height: 170px;
  border: 1px solid #bdc5ce;
  border-radius: 10px;
  background: #fff;
  backface-visibility: hidden;
  position: absolute;
  transition: all 0.6s linear;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
}
.card-interactive__front::before {
  width: 36px;
  height: 31px;
  content: ' ';
  display: inline-block;
  vertical-align: top;
  background: url("../images/chip.png");
  position: absolute;
  top: 35px;
  left: 25px;
}
.card-interactive__front__flag {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  width: 70px;
  height: 50px;
  top: 20px;
  right: 15px;
}
.card-interactive__front__values {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  font-size: 0;
  text-align: left;
}
.card-interactive__front__number,
.card-interactive__front__code {
  display: inline-block;
}
.card-interactive__front__number {
  font-size: 1.0625rem;
  font-size: 17px;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.card-interactive__front__code {
  font-size: 1rem;
  font-size: 16px;
  float: right;
}
.card-interactive__front__expiration {
  font-size: 1rem;
  font-size: 16px;
  margin-right: 5px;
  float: left;
}
.card-interactive__front__expiration__label {
  font-size: 1rem;
  font-size: 16px;
  margin-right: 10px;
  float: left;
}
.card-interactive__change {
  font-size: 1rem;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  margin-right: -15px;
  text-align: right;
  color: #1082be;
}
@media only screen and (max-width: 1064px) {
  .card-interactive__change {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  .card-interactive__change {
    display: none;
  }
}
.card-interactive__front__number,
.card-interactive__front__code,
.card-interactive__back__code,
.card-interactive__front__expiration,
.card-interactive__front__expiration__label {
  color: #ccc;
}
.card-interactive__back {
  transform: rotateY(180deg);
  text-align: left;
}
.card-interactive__back::before {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  border-top: 1px solid #bdc5ce;
  border-bottom: 1px solid #bdc5ce;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-interactive__back__bar,
.card-interactive__back__code {
  display: inline-block;
  vertical-align: top;
}
.card-interactive__back__code {
  font-size: 1.5625rem;
  font-size: 25px;
  height: 30px;
  font-weight: 300;
  margin-top: -8px;
}
.card-interactive__back__bar {
  width: 100%;
  max-width: 150px;
  height: 5px;
  background: #f0f0f0;
  text-align: left;
  margin-left: 25px;
  margin-right: 30px;
}
.card-interactive__back__bar::after,
.card-interactive__back__bar::before {
  content: '';
  height: 5px;
  background: #f0f0f0;
  display: inline-block;
}
.card-interactive__back__bar::after {
  width: 30px;
}
.card-interactive__back__bar::before {
  width: 60px;
  margin-right: 15px;
}
.card-interactive__back__flag {
  display: block;
  width: 28px;
  height: 20px;
  margin-left: 25px;
}
.card-interactive__mobile {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
}
@media only screen {
  .card-interactive__mobile {
    display: none;
  }
}
.card-interactive__mobile__values,
.card-interactive__mobile__change,
.card-interactive__mobile__flag {
  display: inline-block;
  vertical-align: middle;
}
.card-interactive__mobile__change {
  font-size: 0.9375rem;
  font-size: 15px;
  width: 60px;
  color: #1082be;
  display: inline-block;
  float: right;
  text-align: right;
  line-height: 20px;
  margin-top: 3px;
}
.card-interactive__mobile__values {
  width: 45%;
}
.card-interactive__mobile__number,
.card-interactive__mobile__expiration {
  font-size: 1rem;
  font-size: 16px;
  color: #ccc;
  display: block;
}
.card-interactive__mobile__flag {
  width: 64px;
  height: 44px;
  margin-right: 15px;
}
